@import './css/font-awesome.css';

converter = module('xstyle/util/converter');
data = converter/parsed;
h1, h2 {
	font-weight: 100;
	font-family: "Segoe UI Light", "Helvetica Neue", RobotoLight, "Segoe UI", "Segoe WP", sans-serif;
	color: #08E;
}
h1 {
	font-size: 56px;
	letter-spacing: 2px;
}
.icon {
	color: white;
	margin-left: 10px;
	margin-right: 10px;
}
.tile {
	float: left;
	padding: 10px;
	margin: 10px;
	color: black;
	width: 250px;
	height: 70px;
	text-decoration: none;
	.title {
		font-size: 1.2em;
		font-weight: 100; 
	};
}
.tiles {
	clear: both;
}
.button {
	float: left;
	padding: 10px;
	margin: 10px;
	padding-left: 30px;
	color: black;
	width: 300px;
	text-decoration: none;	
}
body {
	max-width: 900px;
	margin: auto;
	font-family: "Segoe UI", "Segoe WP", "Helvetica Neue", Roboto, sans-serif;		
}
.live-source {
}
.column {
	float: left;
	width: 300px;
}
.live-source {
	width: 280px;
	height: 200px;
	font-size: small;
}
.error {
	color: red;
}
.more-explanation {
	clear: both;
	padding: 10px;
}