/* shims */
x-parse {
	content: 'xstyle/xstyle';
}
x-function { 
	var: default, require(xstyle/xstyle);
}
x-property { 
	opacity: default, require(xstyle/xstyle);
	transition: default, prefix;
	border-radius: default, prefix;
	box-shadow: default, prefix, require(xstyle/shim/ie-filter);
	box-sizing: default, prefix;
	border-image: default, prefix;
	transform: default, prefix, require(xstyle/shim/ie-filter);
}
/*extensions*/
x-function { 
	extends: require(xstyle/xstyle);
}
